In [ ]:
!pip install mysqlclient

# 創建資料表

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","841022","mydatabase")

cursor = db.cursor()

## 1.將如果STUDENTS資料表存在，將STUDENTS資料表丟棄
cursor.execute("DROP TABLE IF EXISTS STUDENTS")


## 2.創建STUDENTS資料表，資料表欄位如下
'''
| ID INT(11) | NAME CHAR(20) | GENDER CHAR(20) | CHINESE CHAR(20) | ENGLISH CHAR(20) | MATH CHAR(20) | SOCIAL_SCIENCE CHAR(20) | SCIENCE  CHAR(20) |

PRIMARY KEY = ID
CHARSET = utf8

'''
sql = """CREATE TABLE STUDENTS (
          ID INT(11) NOT NULL AUTO_INCREMENT,
          NAME CHAR(20) NOT NULL,
          GENDER CHAR(20),
          CHINESE CHAR(20),
          ENGLISH CHAR(20),
          MATH CHAR(20),
          SOCIAL_SCIENCE CHAR(20),
          SCIENCE CHAR(20),
          PRIMARY KEY (ID)
          )DEFAULT CHARSET=utf8"""
cursor.execute(sql)


db.close()

# 手key學生成績到資料庫內  
請手動輸入以下兩位學生成績  
name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 52, science: 86  
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","841022","mydatabase")

cursor = db.cursor()

print("enter students score")
while True:

    student_name = input("enter name: ")
    student_gender = input("enter gender: ")
    student_chinese = input("enter chinese score: ")
    student_english = input("enter english score: ")
    student_math = input("enter math score: ")
    student_social_science = input("enter social science score: ")
    student_science = input("enter science score: ")
    
    ## 3.將student_name, student_gender, student_chinese, ......插入到資料庫
    x = (student_name, student_gender, student_chinese, student_english, student_math, student_social_science, student_science)
    sql = """INSERT INTO STUDENTS(NAME, GENDER, CHINESE, ENGLISH, MATH, SOCIAL_SCIENCE, SCIENCE)
              VALUES (%s, %s, %s, %s, %s, %s, %s)"""
    try:
        cursor.execute(sql, x)
        db.commit()
    except:
        db.rollback()

    again = input("continue(y/n)? ")
    if again[0].lower() == "n":
        break

db.close()

# 查詢目前資料庫所有內容

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","841022","mydatabase")


cursor = db.cursor()

sql = "SELECT * FROM STUDENTS"

## 4.查詢目前資料庫所有內容
try:
    cursor.execute(sql)
    results = cursor.fetchall() #all the rows in a list of lists

    for row in results:
        student_id = row[0]
        student_name = row[1]
        student_gender = row[2]
        student_chinese = row[3]
        student_english = row[4]
        student_math = row[5]
        student_social_science = row[6]
        student_science = row[7]

        print('name: {}, gender: {}, chinese: {}, english: {}, math: {}, social_science: {}, science: {}'
            .format(student_name, student_gender, student_chinese, student_english, student_math, student_social_science, student_science))
except:
    print("Error: unable to fetch data")
    
db.close()

# 使用csv檔案，大量匯入全班成績

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","841022","mydatabase")


cursor = db.cursor()

## 5.將exam_score.csv所有學生成績插入資料庫
with open('exam_score.csv') as f:
    for index, i in enumerate(f.readlines()):
        if index == 0:
            continue
        x = tuple(i.strip().split(','))
        print("insert {} data...".format(x[0]))

        sql = """INSERT INTO STUDENTS(NAME, GENDER, CHINESE, ENGLISH, MATH, SOCIAL_SCIENCE, SCIENCE)
              VALUES (%s, %s, %s, %s, %s, %s, %s)"""

    try:
        cursor.execute(sql, x)
        db.commit()
    except:
        db.rollback()
db.close()

# 將sophia英文成績改成99

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","841022","mydatabase")

cursor = db.cursor()

## 6.將sophia英文成績改成99
sql = "UPDATE STUDENTS SET ENGLISH = 99 WHERE NAME = '%s'" % ('sophia')

try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

    
db.close()

# 計算各科平均

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","841022","mydatabase")

cursor = db.cursor()


sql = "SELECT * FROM STUDENTS"
chinese_sum = 0
english_sum = 0
math_sum = 0
social_science_sum = 0
science_sum = 0

try:
    
    cursor.execute(sql)

    results = cursor.fetchall()
    num_students = len(results)
    ## 7.計算各個科目平均成績
    for row in results:
        student_id = row[0]
        student_name = row[1]
        student_gender = row[2]

        student_chinese = row[3]
        chinese_sum = chinese_sum + float(row[3])

        student_english = row[4]
        english_sum = english_sum + float(row[4])

        student_math = row[5]
        math_sum = math_sum + float(row[5])

        student_social_science = row[6]
        social_science_sum = social_science_sum + float(row[6])

        student_science = row[7]
        science_sum = science_sum + float(row[7])

        print('name: {}, gender: {}, chinese: {}, english: {}, math: {}, social_science: {}, science: {}'
                .format(student_name, student_gender, student_chinese, student_english, student_math, student_social_science, student_science))



except:
    print("Error: unable to fecth data")

print('chinese_avg: {}'.format(chinese_sum/num_students))
print('english_avg: {}'.format(english_sum/num_students))
print('math_avg: {}'.format(math_sum/num_students))
print('social_science_avg: {}'.format(social_science_sum/num_students))
print('science_avg: {}'.format(science_sum/num_students))

db.close()